<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="ComputationalDesign_Feed" value="https://pkgs.dev.azure.com/ryancompanies/15351289-1321-4fe2-95a6-a92024e090b6/_packaging/ComputationalDesign_Feed/nuget/v3/index.json" />
  </packageSources>
</configuration>
